.video-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  /* left and top are meant for centering the video and translate is used to bring the video back to the middle of the screen */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* z-index that way it is forced on the bottom and overflow of hidden that way it does not mess with the scrolling of the website
  object fit of cover just incase */
  z-index: -1;
  object-fit: cover;
  overflow: hidden;
}
