.svg {
  display: inline-block;
  position: relative;
  max-height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.rotate {
  transform: rotate(180deg);
}
.letter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15rem;
  animation: letter 1.5s ease forwards;
}
.letter-body {
  color: var(--text-color);
  font-size: var(--font-size-400);
  font-weight: 400;
  z-index: 2;
}
.letter-body-section {
  max-width: 90%;
  max-height: auto;
  border-radius: 0.3rem;
  border: 0.5px solid var(--primary-color);
  background-color: var(--rgbabg);
  backdrop-filter: blur(3px);
}

/* animation for the letter card */
@keyframes letter {
  0% {
    transform: translateX(-3000px);
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
