@import url("https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Loved by the King", cursive;
}

/* for the root */
:root {
  --primary-color: #fcf5ee;
  --secondary-color: #fbe8e7;
  --tertiary-color: #f7ddde;
  --quaternary-color: #ffc4d0;
}
